* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: myFirstFont;
  src: url('/assets/AvertaDemoPECuttedDemo-Regular.otf');
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px !important;
  }
}

body {
  font-family: myFirstFont;
  background-color: #fefefe;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

span {
  color: #000000;
}

p {
  color: #757575;
}
section {
  display: block;
  padding-top: 40px;
}
hr {
}
//Header

header {
  margin-top: 40px;
  .container.header {
    .header__items {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-between;
      align-items: center;
      width: 1200px;
      .header__logo {
        span {
          font-size: 27px;
          strong {
          }
        }
      }
      .header__links {
        ul {
          display: flex;
          flex-direction: row;
          gap: 60px;
          li {
            color: #000000;
            font-size: 16px;
            a {
            }
          }
        }
      }
    }
  }
}

//A Digital Product Agency

section.digital-product {
  .container {
    .introducing {
      width: 1372px;
      height: 608px;
      margin-left: 68px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      .left-item {
        width: 462px;
        position: relative;
        top: 80px;
        left: 49px;
        span {
          font-size: 40px;
          font-weight: bold;
        }
        p {
          margin-top: 40px;
        }
        .contact-link {
          background-color: #2639ed;
          width: 215px;
          border: none;
          border-radius: 60px;
          padding: 20px 40px;
          margin-top: 33px;
          display: block;
          position: relative;
          z-index: 99;
          a {
            text-align: center;
            span {
              color: #ffffff;
              font-size: 20px;
            }
          }
        }
        .dots-icon {
          position: relative;
          left: -49px;
          top: -45px;
          img {
            z-index: 1;
          }
        }
      }
      .right-item {
        position: relative;
        display: block;
        .blue-circle {
          position: absolute;
          left: -64px;
          z-index: 1;
          svg {
          }
        }
        .intro-background-image {
          z-index: 99;
          display: block;
          position: relative;
          img {
          }
        }
        .yellow-svg {
          position: relative;
          svg {
            right: 120px;
            position: absolute;
            top: -89px;
          }
        }
      }
    }
  }
}

//Our Client
section.our-clients {
  padding-top: 89px;
  .container {
    .flex {
      width: 1200px;
      justify-content: space-between;

      .text-content {
        width: 324px;
        .client-title {
          font-size: 40px;
          font-weight: bold;
        }
        p {
          margin-top: 17px;
        }
      }
      .logo-list {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 59px;
        align-self: flex-end;
        img {
          &:last-child {
            margin-top: 16px;
          }
        }
      }
    }
  }
}

//How can we help your Business ?
section.help-your-business {
  height: 867px;
  margin-left: 82px;
  padding-top: 94px;
  position: relative;
  .container {
    .flex {
      justify-content: space-between;
      margin-left: 120px;
      .text-content {
        width: 396px;
        position: relative;
        margin-top: 360px;
        .rectangle-icon {
          position: absolute;
          z-index: -1;
          left: -38px;
          top: -42px;
          svg {
          }
        }
        .client-title {
          font-size: 40px;
          font-weight: bold;
          z-index: 99;
          display: block;
        }
        p {
          margin-top: 30px;
          width: 396px;
        }
        .dots-icon {
          margin-top: 104px;
          img {
          }
        }
      }
      .business-items {
        margin-right: 183px;
        position: relative;
        .flex {
          gap: 34px;
          .card-group {
            .card {
              width: 308px;
              height: 379px;
              border: none;
              border-radius: 40px;
              background-color: #ffffff;
              stroke: #f2f2f2;
              box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-bottom: 30px;
              padding-top: 39px;
              // filter: drop-shadow(0 10px 50px 0 rgba(0, 0, 0, 5%));
              .card-icon {
                width: 121px;
                height: 121px;
                border-radius: 20px;
                background-color: #f1f7ff;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                }
              }
              .card-title {
                width: 199px;
                text-align: center;
                margin-top: 31px;
                span {
                  font-size: 24px;
                  font-weight: bold;
                }
              }
              .card-text {
                margin-top: 27px;
                width: 245px;
                p {
                  text-align: center;
                  font-size: 16px;
                }
              }
            }
            &:first-child {
              padding-top: 119px;
            }
          }
        }
        .pink-circle {
          position: absolute;
          right: -40px;
          bottom: 36px;
          z-index: -1;
          svg {
          }
        }
      }
    }
  }
  &::after {
    content: '';
    position: absolute;
    width: 1047px;
    height: 619px;
    background-color: #f4f9ff;
    border-top-left-radius: 150px;
    top: 300px;
    z-index: -1;
    right: 0;
  }
}

//product-agency

section.product-agency {
}

//client-says

section.client-says {
}
//Subscribe Newsletter
section.subscribe-newsletter {
}
//Footer
footer {
}
